<div class="leagues-container">
    <section class="section">
        <div class="header">
            <p>Ligas</p>
        </div>
        <div class="leagues-carousel" *ngIf="leagues.length">
            <div (click)="changeLeagueElementActivity(league)"
            class="element" *ngFor="let league of leagues" [ngClass]="{
                'active': isLeagueElementActive(league['Identificador'])
            }">
                <img src="{{league['Logo de la Liga']}}" alt="logo-{{league['Nombre De La Liga']}}">
                <span>{{league['Nombre De La Liga']}}</span>
            </div>
        </div>
    </section>
</div>



<!-- <p>Hay un total de {{leagues.length}} ligas</p>

<ul *ngIf="leagues">
    <li *ngFor="let league of leagues">
        <p>{{league['Nombre De La Liga']}}</p>
        <img src="{{league['Logo de la Liga']}}" alt="logo-{{league['Nombre De La Liga']}}">
    </li>
</ul> -->