<div class="page-container">
    <div class="app-title">
        <h1>Football App</h1>
    </div>
    <app-search [leagues]="leagues" [teams]="teams" [players]="players"></app-search>

    <app-league (eventChangeActiveLeague)="childLeagueClicked($event)" [leagues]="leagues"></app-league>

    <app-team [teams]="teams" [leagueClicked]="leagueClicked"></app-team>

    <app-add-button (newAddEventClicked)="childNewTeamEventClicked($event)"></app-add-button>
    <app-add-new-team-modal [leagues]="leagues"></app-add-new-team-modal>
    <app-add-new-player-modal [teams]="teams"></app-add-new-player-modal>


</div>
