
<div class="page-container" *ngIf="content_ready">

    <header class="header">
        <div class="back-home">
            <i class="fas fa-long-arrow-alt-left"></i>
            <label class="sm-button-label" [routerLink]="['/']">Volver</label>
        </div>
    </header>
    <div class="team-info">
        <img src="{{team[0]['Logo del Equipo']}}" alt="team-image" class="team-image">
        <div class="details">
            <div class="team-name">
                <span class="type-tag">Equipo</span>
                <span class="name">{{team[0]['Nombre del equipo']}}</span>
            </div>
            <div class="manage-buttons">
                <button class="edit" (click)="openModal()"><i class="fas fa-edit"></i>Editar equipo</button>
                <button class="delete" (click)="deleteTeam(team[0]['id'])"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
    <section class="players-section">
        <div class="heading">
            <p>Jugadores</p>
            <span>{{players.length}} jugadores</span>
        </div>
        <div class="players-grid" *ngIf="players">
            <div class="element" [routerLink]="['/players', player['id']]" *ngFor="let player of players">
                <img src="{{player['Avatar']}}" alt="player-avatar">
                <span>{{player['Nombre del Jugador']}}</span>
            </div>

        </div>

    </section>
</div>

<app-edit-team [team]="team"></app-edit-team>