<div class="searchbar-container" (clickOutside)="hideResultsContainer()" (keyup.escape)="hideResultsContainer()" >
    <input type="text"
     placeholder="Busca equipos y jugadores..." [(ngModel)]="searchInput" (keyup)="onKey()" (click)="showResultsContainer()">

    <div class="results-container"  *ngIf="showResults">
        <div class="results-content" *ngIf="(teams_coincidences.length > 0 || players_coincidences.length > 0);else noResultsMessage">
            <section class="section" *ngIf="teams_coincidences.length > 0">
                <div class="header">
                    <p>Equipos</p> 
                </div>
                <div class="list">
                    <div class="element" [routerLink]="['/teams', team['id']]" *ngFor="let team of teams_coincidences">
                        <div class="image">
                            <img src="{{team['Logo del Equipo']}}" alt="image">
                        </div>
                        <div class="text">
                            <p class="primary">
                                {{team['Nombre del equipo']}}
                            </p>
                            <p class="secondary">Liga: {{getLeague(team['Liga'])}}</p>
                        </div>
                        <i class="fas fa-arrow-up fa-rotate-90"></i>


                    </div>
                </div>
            </section>
            <section class="section" *ngIf="players_coincidences.length > 0">
                <div class="header">
                    <p>Jugadores</p> 
                </div>
                <div class="list">
                    <div class="element" [routerLink]="['/players', player['id']]" *ngFor="let player of players_coincidences">
                        <div class="image">
                            <img src="{{player['Avatar']}}" alt="image">
                        </div>
                        <div class="text">
                            <p class="primary">
                                {{player['Nombre del Jugador']}}
                            </p>
                            <p class="secondary">Equipo: {{getTeamName(player['teamId'])}}</p>
                        </div>
                        <i class="fas fa-arrow-up fa-rotate-90"></i>
                    </div>
                </div>
            </section>
        </div>

        <ng-template #noResultsMessage>
            <div class="no-results-message">
                <span>
                    No se han encontrado resultados.
                </span>
            </div>

        </ng-template>
    </div>

</div>


<!-- <div *ngIf="showResults">
    <div class="container">
        <div class="teams" *ngIf="teams_coincidences.length > 0">
            <p>Teams</p>
            <ul>
                <li *ngFor="let team of teams_coincidences">
                    {{team['Nombre del equipo']}}
                </li>
            </ul>
        </div>

        <div class="players" *ngIf="players_coincidences.length > 0">
            <p>Players</p>
            <ul>
                <li *ngFor="let player of players_coincidences">
                    {{player['Nombre del Jugador']}}
                </li>
            </ul>
        </div>
    </div>

</div> -->

